@{
    ViewData["Title"] = "Đăng ký";
}

@model MyBlog.Areas.Identity.Models.RegisterModel

<div class="w-50 pt-4 p-4 my-4 border border-secondary-subtle border-2 rounded shadow">
    <h1 class="text-center mb-3 text-uppercase fw-bold">Đăng ký</h1>
    <form class="mx-auto my-auto" asp-area="Identity" asp-controller="Account" asp-action="Register">
        <div class="input-group">
            <span class="input-group-text bg-primary-subtle">
                @@
            </span>
            <div class="form-floating">
                <input type="text" class="form-control" asp-for="@Model.UserName" placeholder="username" />
                <label class="fw-medium" asp-for="UserName">
                    Tên người dùng (viết thường, không dấu, không cách)
                </label>
            </div>
        </div>
        <span class="text-danger" asp-validation-for="UserName"></span>

        <div class="input-group mt-4">
            <span class="input-group-text bg-primary-subtle">
                <i class="bi bi-envelope-at-fill"></i>
            </span>
            <div class="form-floating">
                <input type="email" class="form-control" asp-for="@Model.Email" placeholder="email" />
                <label class="fw-medium" asp-for="Email">Email</label>
            </div>
        </div>
        <span class="text-danger" asp-validation-for="Email"></span>

        <div class="input-group mt-4" id="show-hide-password">
            <span class="input-group-text bg-primary-subtle">
                <i class="bi bi-lock-fill"></i>
            </span>
            <div class="form-floating">
                <input type="password" class="form-control" asp-for="@Model.Password" placeholder="pass" />
                <label class="fw-medium" asp-for="Password">Mật khẩu</label>
            </div>
            <a class="input-group-text" id="eye"><i class="bi bi-eye-fill"></i></i></a>
        </div>
        <span class="text-danger" asp-validation-for="Password"></span>

        <div class="input-group mt-4" id="show-hide-password2">
            <span class="input-group-text bg-primary-subtle">
                <i class="bi bi-lock-fill"></i>
            </span>
            <div class="form-floating">
                <input type="password" class="form-control" asp-for="@Model.ConfirmPassword"
                    placeholder="confirm-pass" />
                <label class="fw-medium" asp-for="ConfirmPassword">
                    Nhập lại mật khẩu
                </label>
            </div>
            <a class="input-group-text" id="eye2"><i class="bi bi-eye-fill"></i></i></a>
        </div>
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>

        <div class="form-check mt-4 fs-5">
            <label class="form-check-label" asp-for="IsAgree">
                Tôi đồng ý với điều khoản ứng dụng
            </label>

            <input class="form-check-input" type="checkbox" asp-for="@Model.IsAgree" checked />
        </div>

        <button type="submit" class="btn btn-primary mb-4 w-100 fw-bold mt-4 fs-5">
            Đăng ký
        </button>
    </form>

    <div class="text-center fs-5">
        Nếu đã có tài khoản hãy
        <a asp-area="Identity" asp-controller="Account" asp-action="Login"
            class="link-offset-2 link-offset-2-hover link-underline link-underline-opacity-0 link-underline-opacity-100-hover">
            Đăng nhập.
        </a>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial");
}