@{
    ViewData["Title"] = "Bài viết";
}

@model IEnumerable<Post>

<h2 class="mb-4">Bài viết mới nhất</h2>

<div class="row">
    @if (@Model.Count<Post>() == 0)
    {
        <h5 class="fst-italic">Không có bài viết nào!</h5>
    }
    else
    {
        @foreach (var post in @Model)
        {
            <div class="col-4 mb-4">
                <div class="card shadow-sm" style="height: 25rem;">
                    <img src="~/images/@post.Image" class="card-img-top" width="300" height="200">

                    <div class="card-body">
                        <p>@post.CreatedAt</p>

                        <h5 class="card-title text-uppercase pb-3">@post.Title</h5>

                        <a class="btn btn-outline-dark w-100 fw-bold fs-5" asp-controller="Posts" asp-action="ShowPostDetail"
                            asp-route-id="@post.Id">
                            Đọc Thêm
                        </a>
                    </div>
                </div>
            </div>
        }

        <nav aria-label="Page navigation example" class="mt-4">
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item">
                    <a class="page-link" asp-controller="Posts" asp-action="Index" asp-route-page="1"
                        aria-label="FirstPage">
                        <span aria-hidden="true" class="text-dark">Trang đầu</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-controller="Posts" asp-action="Index" asp-route-page="@ViewBag.PreviousPage"
                        aria-label="Previous">
                        <span aria-hidden="true" class="text-dark">&laquo;</span>
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link text-dark" asp-controller="Posts" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link" asp-controller="Posts" asp-action="Index" asp-route-page="@ViewBag.NextPage"
                        aria-label="Next">
                        <span aria-hidden="true" class="text-dark">&raquo;</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" asp-controller="Posts" asp-action="Index" asp-route-page="" aria-label="LastPage">
                        <span aria-hidden="true" class="text-dark">Trang cuối</span>
                    </a>
                </li>
            </ul>
        </nav>
    }
</div>