@model Post

@{
    ViewData["Title"] = "Blog - " + Model.Title;
}
<div class="d-flex justify-content-center">
    <div class="w-75">
        <h3 class="text-uppercase text-center mb-3">@Model.Title</h3>

        <div class="d-flex flex-row-reverse fst-italic">
            <div>
                <span class="h6">Tác giả: </span>
                <span>@Model.CreatedBy</span>
            </div>
        </div>

        <div class="d-flex flex-row-reverse fst-italic">
            <div>
                <span class="h6">Ngày viết: </span>
                <span>@Model.CreatedAt.GetDateTimeFormats('F')[0]</span>
            </div>
        </div>

        <div class="d-flex flex-row-reverse fst-italic">
            <div>
                <span class="h6">Lần chỉnh sửa cuối: </span>
                <span>@Model.LastUpdatedAt.GetDateTimeFormats('F')[0]</span>
            </div>
        </div>

        <div class="my-4 text-center">
            <img src="~/images/@Model.Image" alt="thumbnail" width="800" class="img-fluid">
        </div>

        <div class="">
            @Html.Raw(Model.Content)
        </div>

        <div class="d-flex justify-content-between mt-5 fs-5">
            <a asp-controller="Posts" asp-action="Index" class="h5 fs-5">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left" style="margin-bottom: 3px" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
                </svg>
                Quay lại
            </a>

            <div>
                <span class="fst-italic h5">Các tag liên quan:</span>
                @if (string.IsNullOrEmpty(Model.Tags))
                {
                    <span class="fw-normal fst-italic">Không có hashtag nào!</span>
                }
                else
                {
                    @foreach (var tag in Model.Tags.Split(','))
                    {
                        if (!string.IsNullOrEmpty(tag))
                        {
                            <a asp-controller="Posts" asp-action="SearchPosts" asp-route-keyword="@tag" class="ms-2">#@tag</a>
                        }
                    }
                }
            </div>
        </div>

        @if (User.IsInRole("Admin"))
        {
            <div class="mt-5">
                <a asp-action="DeletePost" asp-route-id="@Model.Id" class="btn btn-danger d-inline me-4 fs-5"
                    style="border-radius: 0px; font-weight: 500"
                    onclick="return confirm('Bạn chắc chắn muốn xóa bài viết này?')">
                    Xóa bài đăng
                </a>

                <a asp-action="EditPost" asp-route-id="@Model.Id" class="btn btn-primary d-inline fs-5"
                    style="border-radius: 0px; font-weight: 500">
                    Chỉnh sửa bài đăng
                </a>
            </div>
        }


    </div>
</div>